framework auto-detect
source https://api.nuget.org/v3/index.json
nuget Amazon.Lambda.Core
nuget Amazon.Lambda.Serialization.Json
nuget Chiron
nuget FSharp.Core
nuget FSharp.Data
nuget Expecto
nuget Microsoft.FSharpLu.Json