source https://www.nuget.org/api/v2

framework: netcoreapp2.1
nuget Chiron
nuget Expecto
nuget FSharp.Core
nuget FSharp.Data
nuget Amazon.Lambda.Serialization.Json
nuget Microsoft.NET.Test.Sdk
clitool Amazon.Lambda.Tools