service: serverless-TodaysAbsences

provider:
  name: aws
  profile: default
  runtime: dotnet6
  architecture: arm64
  stage: ${opt:stage, 'stage'}
  region: eu-west-1
  timeout: 60
  memorySize: 1024
  environment:
    BOB_API_URL: ${ssm:/todays-absences/${self:provider.stage}/BOB_API_URL}
    BOB_API_USERNAME: ${ssm:/todays-absences/${self:provider.stage}/BOB_API_USERNAME}
    BOB_API_PASSWORD: ${ssm:/todays-absences/${self:provider.stage}/BOB_API_PASSWORD}
    SLACK_WEBHOOK_URL: ${ssm:/todays-absences/${self:provider.stage}/SLACK_WEBHOOK_URL}
    BIRTHDAY_OPT_INS: ${ssm:/todays-absences/${self:provider.stage}/BIRTHDAY_OPT_INS} #Using v4 as last known working version
  iamRoleStatements:
  - Effect: "Allow"
    Action:
      - "logs:CreateLogGroup"
      - "logs:CreateLogStream"
      - "logs:PutLogEvents"
    Resource: "*"

custom:
  events:
    stage: []
    prod:
      # GMT TIME
      - schedule: cron(0 9 ? * MON-FRI *)

package:
  artifact: package.zip

functions:
  SendAbsencesMessage:
    handler: TodaysAbsences::Handlers::SendAbsencesMessage
    events: ${self:custom.events.${self:provider.stage}}
